[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

# 标识机器id，在binlog中会记录此信息，在slave机器中也回记录对应的master主机server_id
server_id=1

# 主库配置
# binlog名称,表示开启binlog
log-bin=mysql-bin
# binlog忽略的库，可配置多个
binlog-ignore-db=mysql
binlog-ignore-db=sys
binlog-ignore-db=information_schema
# binlog记录的库
binlog-do-db=mycattest
# binlog记录的记录类型 可选ROW/STATEMENT/MIXED
binlog-format=STATEMENT